@import "@picocss/pico/css/pico.min.css";

:root {
  --font-family: -apple-system, system-ui, sans-serif;
  --font-family-monospace: Consolas, Menlo, Monaco, Courier New, Courier, monospace;
}

header {
  border-bottom: 1px solid var(--pico-muted-border-color);
}

body {
  padding-block: 1.5rem;
}

article {
  --pico-block-spacing-horizontal: 0;
  --pico-border-radius: 0;
  --pico-card-background-color: transparent;
  --pico-card-box-shadow: none;
}

article > header {
  --pico-border-width: 0;
  --pico-block-spacing-vertical: 0;
  --pico-card-sectioning-background-color: transparent;
}

a,
a.secondary,
a.contrast {
  --pico-text-decoration: none;
}

a:hover {
  --pico-text-decoration: underline;
}

nav {
  align-items: center;
  padding-block: var(--pico-spacing);
}

nav [type="button"] {
  --pico-spacing: 0;
}

footer {
  padding-block: var(--pico-spacing);
}

@media (min-width: 768px) {
  :root,
  :host {
    --pico-font-size: 112.5%;
  }

  .site-container {
    max-width: 700px;
  }
}

.skip-to-content {
  z-index: 999;
  position: absolute;
  top: calc(var(--pico-spacing) * 0.75);
  left: calc(var(--pico-spacing) * 0.75);
  transform: translateY(-1000%);
  --pico-box-shadow: var(--pico-card-box-shadow);
  opacity: 0;
}
