---
import FormattedDate from "./FormattedDate.astro";

interface Props {
  id: string;
  title: string;
  date: string;
}

const { id, title, date } = Astro.props;
---

<article>
  <header>
    <hgroup>
      <h2>
        <a href={`/archive/${id}/`}>{title}</a>
      </h2>
      <FormattedDate value={date} />
    </hgroup>
  </header>
  <section>
    <slot />
  </section>
</article>
