---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<a href="#content" class="skip-to-content contrast" role="button"
  >Skip to main content</a
>

<header>
  <hgroup>
    <h1>
      <a href="/" class="contrast">{SITE_TITLE}</a>
    </h1>
    <p>{SITE_DESCRIPTION}</p>
  </hgroup>
</header>
