---
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  date: string;
}

const { title, date } = Astro.props;
---

<BaseLayout>
  <article>
    <header>
      <hgroup>
        <h2>{title}</h2>
        <FormattedDate value={date} />
      </hgroup>
    </header>
    <section>
      <slot />
    </section>
  </article>
  <hr />
</BaseLayout>
